@use 'vars';

.button
{
    background-color: vars.$red;

    color: vars.$white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;

    margin: 0 auto;
    width: 200px;
    height: 46px;

    display: block;

    border: none;
    outline: none;
    border-radius: 2px;

    transition: background .2s linear;
    cursor: pointer;

    &:hover
    {
        background-color: darken(vars.$red, 20%);
    }

    &--long
    {
        width: 280px;
    }
}