@use 'vars';

.clients
{
    overflow: hidden;
    width: 100%;
    height: 500px;
    padding: 0 15px;

    background-color: #53354A;

    @media (max-width: vars.$breakpoint_xl)
    {
        height: auto;
        padding: 0;
    }
}

.clients__body
{
    display: flex;

    max-width: vars.$width;
    height: 100%;
    margin: 0 auto;

    @media (max-width: vars.$breakpoint_xl)
    {
        flex-direction: column;
    }
 }

 .clients__photo
 {
     width: 50%;

     position: relative;

    @media (max-width: vars.$breakpoint_xl)
    {
        width: 100%;
        display: block;
        position: static;
    }
 }

 .clients__img
 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @media (max-width: vars.$breakpoint_xl)
    {
        position: static;
        transform: translateY(0);
        width: 100%;
    }
 }

.clients__content
{
    width: 50%;
    padding: 100px 0 100px 80px;

    background-color: #53354A;

    @media (max-width: vars.$breakpoint_xl)
    {
        padding: 100px 0;
        width: 70%;
        margin: 0 auto;
    }

    @media (max-width: vars.$breakpoint_sm)
    {
        width: 90%;

        padding: 50px 0 50px 20px;
    }
}

.clients__quote
{
    color: vars.$white;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 36px;

    margin-bottom: 20px;

    @media (max-width: vars.$breakpoint_sm)
    {
        font-size: 20px;
    }
}

.clients__info
{
    color: vars.$white;
    font-size: 13px;

    @media (max-width: vars.$breakpoint_sm)
    {
        font-size: 12px;
        font-weight: normal;
    }
}