@use 'vars';

.intro
{
    width: 100%;
    position: relative;

    background: #333450 url("../../img/header_bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__body
{
    max-width: vars.$width;
    padding: 230px 0 150px;
    margin: 0 auto;

    @media (max-width: vars.$breakpoint_sm)
    {
        padding: 180px 0 130px;
    }
}

.intro__title
{
    color: vars.$white;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    font-family: 'Open Sans';
    text-align: center;

    width: 72%;
    margin: 0 auto 20px;

    @media (max-width: vars.$breakpoint_md)
    {
        font-size: 40px;
    }

    @media (max-width: vars.$breakpoint_sm)
    {
        font-size: 25px;
        width: 90%;
        margin-bottom: 40px;
    }
}

.intro__subtitle
{
    color: vars.$white;
    font-weight: normal;
    text-align: center;
    font-size: 22px;

    width: 75%;
    margin: 0 auto 75px;

    @media (max-width: vars.$breakpoint_md)
    {
        font-size: 16px;
    }

    @media (max-width: vars.$breakpoint_sm)
    {
        font-size: 14px;
        width: 90%;
        margin-bottom: 70px;
    }
}