<div class="clients">
    <div class="clients__body">
        <div class="clients__photo">
            <img class="clients__img" src="../img/client.jpg" alt="client">
        </div>
        <div class="clients__content">
            <div class="clients__review">
                <p class="clients__quote">“Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam...”</p>    
                <h3 class="clients__info">SUSAN SIMS, INTERACTION DESIGNER AT XYZ</h3>
            </div>
        </div>
    </div>
</div>