<footer class="footer">
    <div class="footer__body">

        <div class="footer__info">
            <h3 class="footer__title">LOCATION</h3>
            <h4 class="footer__text">3481 Melrose Place Beverly Hills, CA 90210</h4>
        </div>

        <div class="footer__share">
            <h3 class="footer__title">SHARE WITH LOVE</h3>
            <div class="links links--white footer__links">
                <a class="item" href="#">
                    <svg class="icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a class="item" href="#">
                    <svg class="icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a class="item" href="#">
                    <svg class="icon">
                        <use xlink:href="#linkedin"></use>
                    </svg>
                </a>
            </div>
        </div> <!-- /footer__share -->
        
        <div class="footer__info">
            <h3 class="footer__title">ABOUT ACTIVEBOX</h3>
            <h4 class="footer__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</h4>
        </div>
    
    </div> <!-- /.footer__body -->

    <div class="footer__strip">
        <p class="footer__strip-text">
            Copyright © 2015 ActiveBox. All Rights Reserved
        </p>
        <p class="footer__strip-text">
            Made with <span class="footer__strip-text--red">♥</span> <span class="footer__strip-text--white">by Kamal Chaneman</span>
        </p>
    </div>
</footer>