<div class="portfolio">
    <div class="portfolio__grid">
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/1.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/2.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/3.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/4.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/5.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/6.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/7.jpg" alt="image">
        </a>
        <a href="#" class="portfolio__item">
            <div class="portfolio__cover">
                <h3 class="portfolio__title">PROJECT NAME</h3>
                <h4 class="portfolio__subtitle">User Interface Design</h4>
            </div>
            <img class="portfolio__image" src="../img/portfolio/8.jpg" alt="image">
        </a>
    </div>
</div>