<div class="services">
    <div class="services__body">
        <div class="services__list">
            
            <div class="services__item">
                <svg class="services__icon">
                    <use xlink:href="#pencil"></use>
                </svg>
                <h3 class="services__title">EASILY CUSTOMISED</h3>
                <p class="services__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="services__item">
                <svg class="services__icon">
                    <use xlink:href="#monitor"></use>
                </svg>
                <h3 class="services__title">RESPONSIVE READY</h3>
                <p class="services__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="services__item">
                <svg class="services__icon">
                    <use xlink:href="#lamp"></use>
                </svg>
                <h3 class="services__title">MODERN DESIGN</h3>
                <p class="services__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="services__item">
                <svg class="services__icon">
                    <use xlink:href="#atom"></use>
                </svg>
                <h3 class="services__title">CLEAN CODE</h3>
                <p class="services__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="services__item">
                <svg class="services__icon">
                    <use xlink:href="#portfolio"></use>
                </svg>
                <h3 class="services__title">READY TO SHIP</h3>
                <p class="services__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="services__item">
                <svg class="services__icon">
                    <use xlink:href="#cloud"></use>
                </svg>
                <h3 class="services__title">DOWNLOAD FOR FREE</h3>
                <p class="services__text">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>

        </div> <!-- /.services__list -->
    </div> <!-- /.services__body -->
</div> <!-- /.services -->