@use 'vars';


/* ===== Blocks ===== */

@use 'blocks/header';
@use 'blocks/intro';
@use 'blocks/services';
@use 'blocks/portfolio';
@use 'blocks/team';
@use 'blocks/clients';
@use 'blocks/download';
@use 'blocks/footer';
@use 'blocks/button';
@use 'blocks/links';



html
{
    font-size: 14px;

    font-family: 'Raleway', sans-serif;
}

body
{
    margin: 0;

    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}