$width: 1200px;
$white: #FFFFFF;
$gray: #6C7279;
$black: #2D3033;
$red: #E84545;  
$light_gray: #E8ECEE;
$blue: #3A3E64;
$dark_blue: #313454;






//Breakpoints

$breakpoint_xl: $width;
$breakpoint_md: 830px;
$breakpoint_sm: 576px;
